    <!-- flex-min-height-box start -->
      <section id="down" class="dark-bg-1 flex-min-height-box">
	<!-- flex-min-height-inner start -->
	<div class="flex-min-height-inner">
	  <!-- container start -->
	  <div class="container small top-bottom-padding-120">
	    <!-- flex-container start -->
	    <div data-animation-container class="flex-container">
	      <!-- column start -->
	      <div class="twelve-columns text-center">
		<h2 class="large-title text-height-12">
		  <span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="{{.Site.Params.about.title}}">{{.Site.Params.about.title}}</span><br>
		  <span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="{{.Site.Params.about.subtitle}}">{{.Site.Params.about.subtitle}}</span>
		  <span class="title-fill gaoel-title" data-animation="title-fill-anim" data-text="{{.Site.Params.about.fancyName}}">{{.Site.Params.hero.fancyName}}</span>
		</h2>
	      </div><!-- column end -->
	      <!-- column start -->
	      <div class="six-columns text-center">
		<div class="content-right-margin-20 text-justify">
		  <p data-animation-child class="p-style-medium text-color-5 fade-anim-box tr-delay02" data-animation="fade-anim">{{.Site.Params.about.leftText}}</p>
		</div>
	      </div><!-- column end -->
	      <!-- column start -->
	      <div class="six-columns text-center text-justify">
		<div class="content-right-margin-20">
		  <p data-animation-child class="p-style-medium text-color-5 fade-anim-box tr-delay02" data-animation="fade-anim">{{.Site.Params.about.rightText}}</p>
		</div>
	      </div><!-- column end -->
	      <!-- column start -->
	      <div class="twelve-columns text-center">
		<p data-animation-child class="p-letter-style text-color-4 text-height-13 fade-anim-box tr-delay04" data-animation="fade-anim">{{.Site.Params.about.bottomText}}</p>
	      </div><!-- column end -->
	    </div><!-- flex-container end -->
	  </div><!-- container end -->
	</div><!-- flex-min-height-inner end -->
      </section><!-- flex-min-height-box end -->
