<section class="dark-bg-2">
  <!-- container start -->
  <div class="container small top-bottom-padding-120">
    <!-- medium-title start -->
    <h2 data-animation-container class="medium-title text-center">
      {{ range $titleIndex, $technoTitle := .Site.Params.technologies.title }}
      <span data-animation-child class="title-fill tr-delay0{{$titleIndex}}" data-animation="title-fill-anim" data-text="{{$technoTitle}}">{{$technoTitle}}</span>
      {{ end }}
    </h2><!-- medium-title end -->

    <div class="runtimes runtimes-large">
      <ul class="runtimes-list">
        <li><img class="techno-li-img" src="/images/technologies/hexagon-python.svg" alt="python logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-postgresql.svg" alt="PGSql logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-node.js.svg" alt="nodejs logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-redis.svg" alt="Redis logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-rabbitmq.svg" alt="RabbitMQ logo"></li>
      </ul>
      <ul class="runtimes-list">
        <li><img class="techno-li-img" src="/images/technologies/hexagon-elasticsearch.svg" alt="ElasticSearch logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-git.svg" alt="Git Logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-github.svg" alt="GitHub logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-golang.svg" alt="golang logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-hadoop.svg" alt="hadoop logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-haskell.svg" alt="Haskell logo"></li>
      </ul>
      <ul class="runtimes-list">
        <li><img class="techno-li-img" src="/images/technologies/hexagon-docker.svg" alt="Docker logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-java.svg" alt="Java logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-jenkins.svg" alt="Jenkins logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-kafka.svg" alt="Kafka logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-mysql.svg" alt="mysql logo"></li>
      </ul>
      <ul class="runtimes-list">
        <li><img class="techno-li-img" src="/images/technologies/hexagon-riakkv.svg" alt="Riak logo"></li>
        <li><img class="techno-li-img" src="/images/technologies/hexagon-rust.svg" alt="Rust logo"></li>
      </ul>
    </div>
  </div>
</section>
