<section class="contact-form-box flex-min-height-box" style="background: black">
    <div class="bg-overlay"></div>
    <!-- flex-min-height-inner start -->
    <div class="flex-min-height-inner">
        <!-- container start -->
        <div class="container xsmall top-bottom-padding-120">
            <h1 class=" text-color-4 text-center">Lets Get In Touch</h1>
            <!-- flex-container start -->
            <form class="flex-container top-padding-90" method="post" action="{{.Site.Params.contactForm.formSpree}}">


                <!-- column start -->
                <div class="six-columns">
                    <div class="content-right-margin-10">
                           <input name="name" type="text" placeholder="Enter your name" class="contact-form-control pointer-small" required="">
                       </div>
                </div><!-- column end -->

                <!-- column start -->
                <div class="six-columns">
                    <div class="content-left-margin-10">
                           <input name="email" type="email" placeholder="Enter your email address" class="contact-form-control pointer-small" required="">
                    </div>
                </div><!-- column end -->


                <!-- column start -->
                <div class="twelve-columns content-padding-bottom-20 text-color-4">
                    <h5 class="text-color-4 content-padding-bottom-20"> How can we help? </h5>
                        <div class="flex-container">
                                <div class="columns content-left-margin-10 text-color-3 ">
                                        <input type="radio" id="howWeHelp1" name="drone" value="Mobile Apps">
                                        <label for="howWeHelp1">Mobile Apps</label>
                                </div>
                                <div class="columns content-left-margin-20 text-color-3 ">
                                        <input type="radio" id="howWeHelp2" name="drone" value="Website">
                                        <label for="howWeHelp2">Website</label>
                                </div>
                                <div class="columns content-left-margin-20 text-color-3 ">
                                        <input type="radio" id="howWeHelp3" name="drone" value="Devops">
                                        <label for="howWeHelp3">Devops</label>
                                </div>
                                <div class="columns content-left-margin-20 text-color-3 ">
                                        <input type="radio" id="howWeHelp4" name="drone" value="Augmented Reality">
                                        <label for="howWeHelp4">Augmented Reality</label>
                                </div>
                                <div class="columns content-left-margin-20 text-color-3 ">
                                        <input type="radio" id="howWeHelp5" name="drone" value="Business Intelligence">
                                        <label for="howWeHelp5">Business Intelligence</label>
                                </div>
                                <div class="columns content-left-margin-20 text-color-3 ">
                                        <input type="radio" id="howWeHelp6" name="drone" value="Other">
                                        <label for="howWeHelp6">Other</label>
                                </div>
                        </div>
                </div><!-- column end -->

                <!-- column start -->
                <div class="twelve-columns top-margin-25">
                       <textarea name="message" placeholder="Enter your message" class="contact-form-control pointer-small" required=""></textarea>
                </div><!-- column end -->

                <!-- column start -->
                <div class="twelve-columns text-center top-padding-90">
                    <button class="border-btn-box pointer-large">
                        <span class="border-btn-inner">
                              <span class="border-btn" data-text="submit">submit</span>
                        </span>
                    </button>
                </div><!-- column end -->


            </form><!-- flex-container end -->
        </div><!-- container end -->
    </div><!-- flex-min-height-inner end -->
</section>
