<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

    <link rel="canonical" href="{{ .Permalink | absURL }}">

    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.home.Description }}{{ end }}">
    <meta name="author" content="Kalvad">
    <meta property="og:url"                content="https://kalvad.com/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Kalvad" />
    <meta property="og:description"        content="Kalvad is your Tech partner in UAE specialized in Apps & Websites" />
    <meta property="og:image"              content="https://kalvad.com/images/backgrounds/fullscreen/coding.jpg" />
    <meta property="og:image:width"        content="2300">
    <meta property="og:image:height"       content="1600">
    <meta property="og:image:type"         content="image/jpeg" />
    <meta name="twitter:site"              content="@kalvad_ae" />
    <meta name="twitter:card"              content="summary_large_image">
    <meta name="twitter:image"             content="https://kalvad.com/images/backgrounds/fullscreen/coding.jpg" />
    <meta name="twitter:title"             content="Kalvad" />
    <meta name="twitter:description"       content="Kalvad is your Tech partner in UAE specialized in Mobile App and Website Development, DevOps, Automation and Strategy" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7COswald:300,400,500,600,700" rel="stylesheet" type="text/css">

    <!-- styles -->
    <link href="/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{ template "_internal/google_analytics.html" . }}

    <!-- Hotjar Tracking Code for https://v4.kalvad.com/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1393433,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
